*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
body{
    background-color:wheat;
}
section{
    margin-bottom:5rem;
}
section > h1{
    margin:2rem 2.6rem;
    text-transform:capitalize;
    color:#02022f;
}
.page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.page-btn button{
    width:2.2rem;
    height:2.2rem;
    border-radius:50%;
    color:white;
    background-color:#3939c7;
    transform:scale();
    opacity:0.7;
    outline:none;
    /* transition:0.2s; */
}
.page-btn button[active="true"]{
    opacity:1;
    transform:scale(1.08);
}

.product-container{
    display: grid;
    grid-template-columns:repeat(4,18rem);
    gap:2.5rem;
    margin:2rem;
    margin-bottom:1rem;
}
.product-container> div{
    /* border:2px solid red; */
    background-color:black;
    color: white;
    border-radius:0.6rem;
    overflow:hidden;
    padding-bottom:2    rem;
    box-shadow:4px 4px 7px 0px grey;
    height:26.2rem;
    /* min-height:35rem; */
    text-align: justify;
    cursor: pointer;
    border-bottom:10px solid whitesmoke;
    border-left:10px solid whitesmoke ;
    border-right: 10px solid whitesmoke;
}


.product-container div img{
    width:100%;
    height:50%;
}
.card-body p{
    max-height:3rem;
    overflow:hidden;
}
.card-body h2{
    /* color:rgba(8, 8, 113, 0.88);
     */color:#2c2c97;
    font-size:1.3rem;
    height:1.8rem;
    overflow:hidden;
}
.card-body h4{
    font-size:1.2rem;
}
.rating{
    background-color:green;
    padding:0.3rem 0.6rem;
    width:fit-content;
    border-radius:1rem;
    color:white;
    display: flex;
    align-items: center;
    justify-content:center;
}
svg{
    color:white;
    font-size:0.8rem;
    margin-right:0.2rem;
}
.price{
    margin-left:0.3rem;
}
.fa-solid{
    font-size:10rem !important;
    color:red;
    
}
button {
    height: 3rem;
    width: 3rem;
    font-weight: 700;
    font-size: 16px;
    /* row-gap: 0px; */
    margin-left: 10rem;
    /* padding: 0px; */
}